@import "common.scss";

.SecurePage {


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;

    ul{
        li{
            margin-bottom: 1em;
        }
    }

   
}